<h2>User Profile</h2>

<div class="row">
  <aside>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div>
    <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
  </div>
</div>