<h2>User Profile</h2>

<div class="row">
  <aside>
    <section>
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.name %>
      </h1>
    </section>
  </aside>
  <div>
    <% if current_user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
  </div>
</div>