/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   margin: 0;
   border: 0;
   box-sizing: border-box;
 }

/*==============
 Navbar
================*/

 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  background-color: #005ccc;
 } 

 nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30em;
 }

 nav ul li a{
  color: #fff;
  text-decoration: none;
 }

 ul li {
   list-style: none;
 }

 

 h1{
   font-size: 2.5em;
   color: #fff;
   margin-left: .5em;
 }

 .form-container {
   margin-left: auto;
   margin-right: auto;
   width: 12em;
 }


 
 .form-container form{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 15em;
 }

 form textarea{
   width: 200px;
   height: 100px;
   margin-bottom: 10px;      
 }
 .alert{
   text-align: center;
   font-weight: bold;
 }
 .alert.danger {
   color: red;
 }
 .alert.success {
   color: green;
 }